<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>United Comms a Corporate Category Flat Bootstarp responsive Website Template| Blog :: w3layouts</title>
<link href="../css/bootstrap/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/lib/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="../css/blogstyle.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="UNITED COMMS Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
    <a href="/mental/group" style="color: white; background-color: gray;">BACK to mentalGRoup</a>
    <div class="container">
        <div class="blog-section">
            <div class="container text-center">
                    <div class="">
                            <h2 class="with-line">Τελευταία νέα</h2>
                        <article class="clearfix">
                            <header class="grid_8 alpha">
                                <div class="head_element"><span class="el_1">07</span><span class="el_2">Oct</span></div>
                                <div class="sub">
                                <a href="single.html" class="readblog">Ο ΓΙΩΡΓΟΣ ΧΡΙΣΤΟΠΟΥΛΟΣ ΤΟ ΣΑΒΒΑΤΟΚΥΡΙΑΚΟ ΣΤΗ ΖΑΚΥΝΘΟ</a>
                                <p class="sub_head"></p>
                                </div>
                                <div class="clearfix"></div>
                            </header>
                            <div class="alpha1"><a href="single-post"><img src="../img/author_GX.png" alt="" /></a></div>
                            <div class="grid_b4">
                                <h5>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et mag.</h5>
                                <p>Στη Ζάκυνθο θα βρεθεί το προσεχές Σαββατοκύριακο (2 & 3/5/2015) ο Γιώργος 
                                    Χριστόπουλος (έγκριτος Λογιστής - Φοροτεχνικός με συγγραφική και διδακτική εμπειρία) 
                                    όπου θα δώσει δύο εξαιρετικά ενδιαφέροντα, επίκαιρα φορολογικά σεμινάρια.</p>
                                <a href="single-post" class="btn btn-1 btn-1c">Περισσότερα</a>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>
            </div>
        </div>
        </div>
</body>
</html>