@CHARSET "ISO-8859-1";

 /*------------------------------------------------------------------
Project:        Mental Group website
Author:         Dimitris Azarias
Version:        0.0.1
Created:        14/09/2015
Last change:    14/09/2015
-------------------------------------------------------------------*/
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  line-height: 1.8;
  color: black;
  background-color: #ffffff;
  margin: 0;
}

hr {
	background-color: gray;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

/* BASIC */
.row {
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* SECTION HEADER  */
section {
	padding-bottom: 20px;	
}

.heading {
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: Caviar;
  font-size: 32px;
  color: red;
}


/**
 * Footer
 */
footer {
  background-color: rgba(213, 220, 230, 0.2);
  line-height: 30px;
}
footer a {
  color: #9a9a9a;
}
.footer__social {
  margin-top: 20px;
}
.footer-social__link {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #bbb;
  text-align: center;
  color: blue;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.footer-social__link:hover,
.footer-social__link:focus {
  color: white;
}
.footer-social__link_facebook:hover {
  background-color: #3b5998;
}
@media (min-width: 768px) {
  footer {
    text-align: left;
  }
  .footer__social {
    margin-top: 0;
    text-align: right;
  }
}

/* NAVBAR */
.navbar-default .navbar-nav > li > a,
.navbar-nav > li > a {
  font-family: 'Caviar', sans-serif;
  text-align: right;
}

.navbar-brand {
  margin-bottom: 5px;
}

.customer {
    width: 80px;
    height: 60px; 
}

/*  LANDING PAGE */
.hero__heading {
  margin-top: 0;
  font-size: 38px;
}

.landingText {
	color: gray;
	font-size: 24px;
	text-align: center;
    font-family: Caviar;
    font-weight: bold;    
}

.hero {
  position: relative;
  padding: 170px 0 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6c5b7b', endColorstr='#cc355c7d', GradientType=0);
  content: "";
}

@media (min-width: 768px) {
  .hero {
    padding: 220px 0 150px;
  }
}

/*SERVICES  */
.features__item {
  text-align: center;
  margin-bottom: 40px;
}
.features-item__icon {
  float: left;
  margin-right: 30px;
  font-size: 26px;
}
.features-item__body {
  overflow: hidden;
}
.features-item-body__title {
	text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.features-item-body__summary {
  color: #9a9a9a;
}
.features-item-body__summary a {
  color: #9a9a9a;
}

/*SECTION BACKGROUNDS */
#home {
    min-height: 800px;
	background: url(../img/bg_1.jpg) center center / cover no-repeat;
}
#comm, #articles {
    background: url(../img/MGlogo.jpg) center center / cover no-repeat;
}
#services{
	background-color: rgba(255, 255, 255, 1);
}

#company , #articles{
    /* background-color: rgba(213, 0, 0, 1); */
    background-color: rgba(213, 220, 230, 0.2);
}

#home, #articles, #services, #comm, #testimonials  {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* TIMELINE */
.timeline {
	line-height: 1.4;
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0px 20px 30px 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    text-align: center;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0px 20px 30px 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    font-family: Caviar;
    font-size: 22px;
}

.timeline .timeline-heading h4.subheading {
	font-weight: bold;
	color: red;
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(max-width:400px) {
	.navbar-brand > img {
	  height: 70px;
	  padding-left: 0px;
	}
}
@media(max-width:300px) {
    .timeline:before {
        left: 10%;
    }

    .timeline>li {
        min-height: 100px;
    }

    .timeline>li.timeline-inverted>.timeline-panel,
    .timeline>li .timeline-panel {
        float: left;
        padding: 0px 0px 50px 60px;
        text-align: left;
    }

    .timeline>li .timeline-image {
        left: 10%;
        width: 60px;
        height: 60px;
        margin-left: -32px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 47%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 60px;
        height: 60px;
        margin-left: -32px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 60px;
        height: 60px;
        margin-left: -32px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 60px;
        height: 60px;
        margin-left: -30px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
/* END TIMELINE */

/* SERVICES */
.section-title hr{
    border-color: gray;
    border-width: 4px;
    width: 60px;
    float: left;
    clear: both;
}

.section-title h2,
.section-title.center h2{
    font-weight: 300;
}
.section-title.center .line{
    border-top: 4px solid red;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.section-title.center hr {
    border-top: 4px solid rgba(213, 220, 230, 0.2);
    width: 40px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 17%;
}

.space{
    margin-top: 40px;
}

#company i.fa, #services i.fa {
    font-size: 40px;
    border: 4px solid gray;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%; 
    transition: all 0.5s;
}

.service:hover>i.fa {
    background: rgba(255, 0, 0, .9);
    color: white;
}

.timeline-heading:hover>.subheading {
}

/* END SERVICES */

/* MAP COMMUNICATION */
.outerMapDiv {
  height: 90%;
  text-align:left;
}
#googleMap {
  width: 100%;
  height: 200px;
  display:inline-block
}
/* END MAP COMMUNICATION */


/* I18N */
#i18n {
    padding-top: 5px;	
}

.flagGB, .flagDE, .flagFR, .flagGR{
    width: 18px;
    height:13px;
    margin: 24px 0px 0px 2px;
}

.flagDE {
    background-image: url('../img/i18n/germanflag.png');
}

.flagGR {
    background-image: url('../img/i18n/greekflag.png');
}

.flagFR {
    background-image: url('../img/i18n/frenchflag.png');
}

.flagGB {
    background-image: url('../img/i18n/ukflag.png');
}
/* END I18N */

/**
 * Utilities
 */
.delay_1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay_2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay_3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.delay_4 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.delay_5 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

/******* Style Switcher *******/
.switcher-box {
    width: 212px;
    position: fixed;
    left: -202px;
    top: 100px;
    text-align: center;
    z-index: 99999999;
    background: white center no-repeat;

    border-radius: 0 0 2px 0;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.switcher-box a{
    cursor: pointer;
}
.switcher-box h4 {
    display: block;
    height: 40px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 700;
    color: gray;
    background-color: rgba(213, 220, 230, 1);
    margin-bottom: 10px;
}
.switcher-box span {
    display: block;
    padding: 5px 20px;
    text-align: left;
}
.switcher-box .layout-style, .switcher-box .topbar-style {
    width: 172px;
    padding: 6px 9px;
    outline: none;
    display: block;
    background: #fff;
    border-radius: 3px;
    padding: 4px 6px;
    color: #666;
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
    margin: 0 0 12px 20px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.06);
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.06);
}
.switcher-box .bg-list {
    padding: 0 18px 0 18px;
    margin-bottom: 18px;
}
.switcher-box .bg-list li {
    display: inline-block;
    margin-right: 2px;
}
.switcher-box .bg-list li a {
    display: block;
    width: 20px;
    height: 20px;
}
.switcher-box .open-switcher {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 2px 2px 0;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    font-size: 11px;
}

.switcher-box .open-switcher:hover {
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    color: gray;
}

.switcher-box .open-switcher i {
    text-align: center;
    padding-top: 7px;
}
