@CHARSET "ISO-8859-1";

 /*------------------------------------------------------------------
Project:        Mental Group website
Author:         Dimitris Azarias
Version:        0.0.1
Created:        14/09/2015
Last change:    14/09/2015
-------------------------------------------------------------------*/

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: #565656;
  background-color: #ffffff;
  margin: 0;
}

hr {
	background-color: gray;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

/* SECTION HEADER  */
.heading {
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: Caviar;
  font-size: 32px;
  color: red;
}

#footer {
    background-color: gray;	
    text-align: center;
}

/* NAVBAR */
.navbar-default .navbar-nav > li > a,
.navbar-nav > li > a {
  font-family: 'Caviar', sans-serif;
  color: gray;
}

.navbar-brand {
  margin-bottom: 5px;
}

.customer {
    width: 30px;
    height: 40px; 
}

/*  LANDING PAGE */
.hero__heading {
  margin-top: 0;
  font-size: 38px;
}

.landingText {
    font-family: Caviar;    
}

.hero {
  position: relative;
  padding: 170px 0 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6c5b7b', endColorstr='#cc355c7d', GradientType=0);
  content: "";
}

@media (min-width: 768px) {
  .hero {
    padding: 220px 0 150px;
  }
}

/*SERVICES  */
.features__item {
  text-align: center;
  margin-bottom: 40px;
}
.features-item__icon {
  float: left;
  margin-right: 30px;
  font-size: 26px;
}
.features-item__body {
  overflow: hidden;
}
.features-item-body__title {
	text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.features-item-body__summary {
  color: #9a9a9a;
}
.features-item-body__summary a {
  color: #9a9a9a;
}

/*SECTION BACKGROUNDS */
#home {
    background: url(../img/bg_1.jpg) center center / cover no-repeat;
    text-align: center;
    height: 1024px;
}

#company {
}

#services {
	}

#articles {
	background: url(../img/MGlogo.jpg) center center / cover no-repeat;
	min-height: 600px;
}

#testimonials {
	min-height: 500px;
}

#comm {
}


/* TIMELINE */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    font-family: Caviar;
    font-size: 22px;
    font-style: italic;
}

.timeline .timeline-heading h4.subheading {
	font-weight: bold;
	color: red;
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
/* END TIMELINE */
