@CHARSET "ISO-8859-1";

 /*------------------------------------------------------------------
Project:        Mental Group website
Author:         Dimitris Azarias
Version:        0.0.1
Created:        14/09/2015
Last change:    14/09/2015
-------------------------------------------------------------------*/
section {
    padding-top: 100px;	
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Open Sans', sans-serif, Caviar;
  font-size: 13px;
  line-height: 1.8;
  color: #565656;
  background-color: #ffffff;
}

html,
body {
  height: 100% !important;
}

hr {
	background-color: gray;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 11.5px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

 .brandImage {
   display: block;
   height: 70px;
   padding-left: 20px;
     
 }
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-down:before {
  content: "\e114";
}

/* Animations */
.ng-enter {
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}

/* BASIC */

img {
  vertical-align: middle;
}
img {
  border: 0;
}
.delay_1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay_2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay_3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.delay_4 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.delay_5 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.text-right {
  text-align: right;
}

body {
  font-size: 14px;
  line-height: 1.8;
  color: black;
  background-color: #ffffff;
  margin: 0;
}

footer,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #9a9a9a;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 23px;
  margin-bottom: 11.5px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 11.5px;
  margin-bottom: 11.5px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 33px;
}
h2,
.h2 {
  font-size: 27px;
}
h3,
.h3 {
  font-size: 23px;
}
h4,
.h4 {
  font-size: 17px;
}
h5,
.h5 {
  font-size: 13px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 11.5px;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}

a {
  color: red;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f67280;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    text-align: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 50%;
  }
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Other */
.text-center {
  text-align: center;
}

/* SECTION HEADER  */
.heading {
  text-align: center;
  position: relative;
  margin-top: 70px;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: Caviar;
  font-size: 32px;
  color: red;
}

/* Clients */
.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}

.nbs-flexisel-inner {
    padding-top: 20px;
    overflow:hidden;
    float:left;
    width:100%;
    height: 160px;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    position:relative;
    cursor:pointer;
}
.nbs-flexisel-item img {
    position: relative;
}

/**
 * Footer
 */
footer {
    padding: 40px;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    border-top: 2px solid gray;
    padding: 20px; 
    width: 100%;
}
footer a {
  color: #9a9a9a;
}
.footer__social {
  margin-top: 20px;
}
.footer-social__link {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #bbb;
  text-align: center;
  color: blue;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.footer-social__link:hover,
.footer-social__link:focus {
  color: white;
}
.footer-social__link_twitter:hover {
  background-color: #55acee;
}
.footer-social__link_facebook:hover {
  background-color: #3b5998;
}
.footer-social__link_google-plus:hover {
  background-color: #dd4b39;
}
@media (min-width: 768px) {
  footer {
    text-align: left;
  }
  .footer__social {
    margin-top: 0;
    text-align: right;
  }
}

.customer {
    width: 80px;
    height: 60px; 
}


/*  LANDING PAGE */
.hero__heading {
  margin-top: 0;
  font-size: 38px;
  color: red;
}

.hero__btn.btn-link {
  color: rgba(55, 55, 55, 0.9);
}

.hero__heading + .hero-heading__sub {
  color: rgba(55, 55, 55, 0.9);
}
.landingText {
    font-family: Caviar;    
}

.hero_agency {
  text-align: center;
}

.hero {
  position: relative;
  padding: 170px 0 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6c5b7b', endColorstr='#cc355c7d', GradientType=0);
  content: "";
}

@media (min-width: 768px) {
  .hero {
    padding: 220px 0 150px;
  }
}

/* COMMON */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

.wrapper {
  position: relative;
  background: white;
	
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
}

.heading,
.heading__sub {
  text-align: center;
}

.heading + .heading__sub {
  font-size: 20px;
  margin-top: -40px;
  margin-bottom: 80px;
  color: #9a9a9a;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}

/*SERVICES  */
.features__item {
  text-align: center;
  margin-bottom: 40px;
}
.features-item__icon {
  float: left;
  margin-right: 30px;
  font-size: 26px;
}
.features-item__body {
  overflow: hidden;
}
.features-item-body__title {
	text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.features-item-body__summary {
  color: #9a9a9a;
}
.features-item-body__summary a {
  color: #9a9a9a;
}

/*SECTION BACKGROUNDS */
#home
{
    background: url(../img/bg_1.jpg) center center / cover no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 800px;    
}

#articles
{
    background: url(../img/bg_2.jpg) center center / cover no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    min-height: 800px;
}

#services {
    background: url(../img/bg_3.jpg) center center / cover no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    min-height: 800px;    
}
#testimonials, #company, #comm {
    background-color: rgba(213, 220, 230, 0.3);
    background: url(../img/MGlogo.jpg) center center / cover no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    min-height: 800px;
}

/* TIMELINE */
.timeline {
	line-height: 1.4;
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    min-height: 50px;
}
.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0px 20px 30px 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    text-align: center;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0px 20px 30px 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    font-family: Caviar;
    font-size: 22px;
    font-style: italic;
}

.timeline .timeline-heading h4.subheading {
	font-weight: bold;
	color: red;
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(max-width:300px) {
    .timeline:before {
        left: 10%;
    }

    .timeline>li {
        min-height: 100px;
    }

    .timeline>li.timeline-inverted>.timeline-panel,
    .timeline>li .timeline-panel {
        float: left;
        padding: 0px 0px 50px 60px;
        text-align: left;
    }

    .timeline>li .timeline-image {
        left: 10%;
        width: 60px;
        height: 60px;
        margin-left: -32px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
}

@media(min-width:768px) {

	.timeline:before {
        left: 50%;
    }

    .timeline>li {
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 47%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 60px;
        height: 60px;
        margin-left: -32px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
	.timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 60px;
        height: 60px;
        margin-left: -32px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 60px;
        height: 60px;
        margin-left: -30px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
/* END TIMELINE */

/* SERVICES */
.section-title hr{
    border-color: gray;
    border-width: 4px;
    width: 60px;
    float: left;
    clear: both;
}

.section-title h2,
.section-title.center h2{
    font-weight: 300;
}
.section-title.center .line{
    border-top: 4px solid red;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.section-title.center hr {
    border-top: 4px solid rgba(213, 220, 230, 0.2);
    width: 40px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 17%;
}

.space{
    margin-top: 40px;
}

#company i.fa, #services i.fa {
    font-size: 40px;
    border: 4px solid gray;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%; 
    transition: all 0.5s;
}

#services .service:hover>i.fa {
    background: red;
    color: #ffffff;
}
/* END SERVICES */

/* MAP COMMUNICATION */
.outerMapDiv {
  height: 90%;
  text-align:left;
}
#googleMap {
  width: 70%;
  height: 100%;
  margin:0px auto;
  display:inline-block
}

/* END MAP COMMUNICATION */


/* I18N */
#i18n {
    padding-top: 5px;	
}

#i18n .flag:hover>button.flagGR,
#i18n .flag:hover>button.flagGB,
#i18n .flag:hover>button.flagFR,
#i18n .flag:hover>button.flagDE {
    border: 1px solid rgb(255,255,255);
}

.flagGB, .flagDE, .flagFR, .flagGR{
    width: 18px;
    height:13px;
    margin: 2px 0px 0px 10px;
    display: block;
}

.flagDE {
    background-image: url('../img/i18n/germanflag.png');
}

.flagGR {
    background-image: url('../img/i18n/greekflag.png');
}

.flagFR {
    background-image: url('../img/i18n/frenchflag.png');
}

.flagGB {
    background-image: url('../img/i18n/ukflag.png');
}
/* END I18N */

/**
 * Testimonials
 */
.review__icon {
  margin-top: 80px;
  text-align: center;
  font-size: 28px;
  color: #9a9a9a;
}
.review__icon + .heading {
  margin-top: 20px;
  margin-bottom: 60px;
}
.review__item {
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.review-item__quot {

  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
}
.review-item__quot:after {
  position: absolute;
  display: block;
  bottom: -20px;
  left: 40px;
  width: 0;
  height: 0;
  border-width: 10px 10px;
  border-color: #f5f5f5 transparent transparent transparent;
  border-style: solid;
  content: "";
}
.review-item-about__avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 20px 0 10px;
  border-radius: 50%;
  border: 1px solid #eee;
  overflow: hidden;
}
.review-item-about__content {
  overflow: hidden;
  padding-top: 15px;
}
.review-item-about__name {
  font-weight: 700;
}
.review-item-about__position {
  color: #9a9a9a;
}
#review__carousel {
  padding-bottom: 60px;
}
#review__carousel .owl-controls {
  margin-top: 20px;
  text-align: center;
}
#review__carousel .owl-controls .owl-buttons div {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  background: white;
  border: 1px solid #eee;
  border-radius: 3px;
  font-weight: 700;
  color: #9a9a9a;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
#review__carousel .owl-controls .owl-buttons div:hover {
  background-color: #f5f5f5;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
 * Typography
 */
a {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* Buttons */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-link {
  color: #f67280;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #f67280;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #9a9a9a;
  text-decoration: none;
}

