<!doctype html>
<html lang="en">
<head>
  <title>Mental News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Margo - Responsive HTML5 Template">
  <meta name="author" content="ZoOm Arts">

  <link href="../css/bootstrap/bootstrap.min.css" rel='stylesheet' type='text/css' />
  <link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/blogstyle.css" media="screen">
</head>

<body>
   <!-- Start Single Post Area -->
   <div class="blog-post">
     <a href="news" style="color: white; background-color: gray;">BACK to mentalGRoup</a>
     <!-- Start Single Post Content -->
     <div class="post-content">
       <h2 class="red">Ο ΓΙΩΡΓΟΣ ΧΡΙΣΤΟΠΟΥΛΟΣ ΤΟ ΣΑΒΒΑΤΟΚΥΡΙΑΚΟ ΣΤΗ ΖΑΚΥΝΘΟ</h2>
       <ul class="post-meta">
         <li>October 07, 2015</li>
       </ul>
       <p>Στη Ζάκυνθο θα βρεθεί το προσεχές Σαββατοκύριακο (2 & 3/5/2015) <span class="bold">ο Γιώργος Χριστόπουλος</span> (έγκριτος Λογιστής - Φοροτεχνικός με συγγραφική και διδακτική εμπειρία) όπου θα δώσει δύο εξαιρετικά ενδιαφέροντα, επίκαιρα φορολογικά σεμινάρια.</p>
       <p class="bold">Τα σεμινάρια διοργανώνουν:</p>

		<p><span class="bold">- Το Περιφερειακό Τμήμα Ιονίων Νήσων του Οικονομικού Επιμελητηρίου Ελλάδος,</span><br> 
		
		τo Σάββατο 2/5/2015, ώρες 09:30 - 14:30 π.μ., στο Ξενοδοχείο ΠΑΛΑΤΙΝΟ με 
		
		θέμα:  «Τα ΕΛΠ με τον ΚΦΑΣ από την πρακτική ματιά που ενδιαφέρει τον  
		
		Λογιστή – Φοροτεχνικό»<br>
		
		Για πληροφορίες καλέστε στο τηλέφωνο: <span class="red">6973493048 </span><br>
		
		<span class="italic">Για αναλυτική παρουσίαση της θεματολογίας του σεμιναρίου πατήστε <a class="bold red" href="http://google.com">εδώ</a></span>
		
		<p><span class="bold">- Η Ένωση Λογιστών  Φοροτεχνικών Ελεύθερων Επαγγελματιών Ζακύνθου,</span> <br>την 
		
		Κυριακή 3/5/2015, ώρες 09:30 - 14:30 π.μ.,. στο Ξενοδοχείο ΠΑΛΑΤΙΝΟ με 
		
		θέμα: «Φορολογία εισοδήματος Φυσικών και Νομικών Προσώπων για το 
		
		φορολογικό έτος 2014»<br>
		
		Για πληροφορίες καλέστε στο τηλέφωνο: <span class="red">6973493048 </span><br> 
		
		<span class="italic">Για αναλυτική παρουσίαση της θεματολογίας του σεμιναρίου πατήστε <a class="bold red" href="http://google.com">εδώ</a></span>
		
		<p class="italic red">Σημειώσεις θα δοθούν ηλεκτρονικά.</p>

       <div class="post-bottom clearfix">
         <div class="post-share">
           <span>Share This Post:</span>
           <a class="facebook" href="http://facebook.com"><i class="fa fa-facebook"></i></a>
         </div>
       </div>
       <div class="author-info clearfix">
         <div class="author-bio">
           <h4 class="red">About The Author</h4>
           <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia desrut mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
         </div>
       </div>
     </div>
     <!-- End Single Post Content -->

   </div>
   <!-- End Single Post Area -->
</body>
</html>